<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue学习</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
</head>
<body>
    <div id="app-7">
        <ol>
            <todo-item 
                v-for="item in groceryList" 
                v-bind:todo='item' 
                v-bind:key='item.id'>
            </todo-item>
        </ol>
    </div>
    <div id="app-6">
        <p>{{message}}</p>
        <input v-model='message'>
    </div>
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
    <div id="app1">
        {{message}}
    </div>

    <script>
        Vue.component('todo-item', {
            //todo-item组件现在接受一个props，类似一个自定义组件
            //这个props名为todo
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        })
        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    {id: 0, text: '蔬菜'},
                    {id: 1, text: '奶酪'},
                    {id: 2, text: '其他东西'}
                ]
            }
        })
        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: '你好，世界！'
            }
        })
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: '123456'
            },
            methods: {
                reverseMessage(){
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    {text: '学习JavaScript'},
                    {text: '学习Vue'},
                    {text: '整个牛项目'}
                ]
            }
        })
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })
        var app2 = new Vue({
            el: '#app-2',
            data: {
              message: `页面加载于 ${new Date().toLocaleString()}`
            }
        })
        var app1 = new Vue({
            el: '#app1',
            data: {
                message: '你好，世界！'
            }
        })
    </script>
</body>
</html>