*{margin: 0; padding: 0}
hr{width: 100%;height: 0;border-top: 1px solid #dedede;}
ol, ul{list-style-type: none}
.clearfix::after{content: ''; display: block; clear: both;}
body{font-size: 16px;color: black;background: cornsilk;}
.icon {width: 40px; height: 40px;vertical-align: -0.15em;fill:gray;overflow: hidden;}

/*************** 顶部菜单 ***************************** */
.topBar{display: flex;justify-content: space-between;align-items: center;padding: 15px 0;position: fixed;top: 0;left: 0;width: 100%;}
.topBar .logo{margin-left: 20px;}
.topBar .logo span:nth-child(1){font-size: 26px;font-weight: bold;color: rgb(85, 26, 139);}
.topBar .logo span:nth-child(2){font-size: 22px;font-weight: bold;color: rgb(154, 157, 162);}
.topBar .nav{margin-right: 16px;}
.topBar .nav>li{float: left;margin: 0 4px;position: relative;display: flex;justify-content: center;align-items: center;margin-top: 10px;}
.topBar .nav>li>a{padding: 0 5px;color: white;}
.topBar .nav>li>a::after{content: '';display: block;height: 3px;margin-top: 8px;}
.topBar .nav>li:hover a::after{background: red;animation: topBar_slid 0.5S;}
.topBar @keyframes topBar_slid{0%{width: 0}100%{width: 100%}}
.topBar .nav .submenu{box-sizing: border-box;width: 150px;border: 1px solid red;padding: 10px;display: none;position: absolute;top: 100%;right: 0;}
.topBar .nav>li:hover .submenu{display: block;}
.topBar .submenu>li{width: 50%;float: left;}

/******************* 背景图片 **********************/
.bgdPic{background: red url(../pictures/bgPic.png) no-repeat center center;background-size: cover;width: 100%;height: 500px;}
.bgdPic::after{content: '';display: block;height: 100%;background: rgba(0,0,0,0.2);}

/******************* 简历浮动框 **********************/
main .resumeFloatBox{max-width: 940px;margin: -350px auto 0;background: white;box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);padding-top: 50px}
main .resumeFloatBox .resumeHeader{margin: 50px;margin-top: 0px; display: flex;justify-content: space-around;}
main .resumeFloatBox .resumeHeader .resumePicture{width: 300px;height: 350px;}
main .resumeFloatBox .resumeHeader .resumeContent{height: 350px;}
main .resumeContent div.hello{width: 70px;line-height: 30px;background: #e6686a;text-align: center;color: white;}
main .resumeContent h1.name{font-size: 30px;margin-top: 16px;font-weight: normal;}
main .resumeContent hr{margin: 18px 0 32px 0;}
main .resumeContent dt, .resumeContent dd{float: left;margin-bottom: 16px;}
main .resumeContent dt{width: 30%;font-weight: bold;}
main .resumeContent dd{width: 70%;color: #9da0a7;}
main .resumeFloatBox .resumeBottom{width: 100%;height: 70px;display: flex;justify-content: center;align-items: center;background: #e6696a;}
main .resumeFloatBox .resumeBottom a{margin: 0 15px;padding: 0 10px;}
main .downloadAndIntro{text-align: center;}
main .downloadAndIntro>a{display: inline-block;padding: 20px 55px;border: 1px solid #CDCFD1;border-radius: 2px;background: #efefef;font-size: 14px;line-height: 16px;font-weight: bold;color: #3d4451;margin: 30px auto 40px;transition: all 0.2s;}
main .downloadAndIntro>a:hover{box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2)}
main .downloadAndIntro>p{font-size: 18px;font-family: "kai";line-height: 1.5;}



/******************* 轮播图 **********************/
section.swiper{margin: 100px auto 0;width: 780px;position: relative;}
section.swiper h2{font-size: 40px;font-weight: bold;text-align: center;margin-bottom: 30px;}
section.swiper .swiper-container {width: 750px;height: 500px;position: relative;}
section.swiper .swiper-wrapper{width: 750px;height: 500px;}
section.swiper .swiper-slide{width: 750px;height: 500px;}
section.swiper .swiper-button-prev,.swiper-button-next{background-color:white;width: 50px;height: 50px;border-radius: 50%;margin-top: 30px;}
section.swiper .swiper-button-prev{right: 100%;left: auto;}
section.swiper .swiper-button-next{left: 100%;right: auto;}

/******************* 留言板块 **********************/
section.message{
    width: 780px;
    margin: 100px auto 300px;
}
section.message h2{
    font-size: 40px;font-weight: bold;text-align: center;
}
section.message ol{
    margin-top: 30px;
    border-top: #9da0a7;
    border: 1px solid red;
}
section.message ol li{
    border-bottom: #9da0a7;
}
section.message form{
    margin-top: 30px;
    font-size: 18px;
}
section.message form label input{
    height: 20px;
}
section.message form label:nth-child(1) input{
    width: 100px;
}
section.message form label:nth-child(2) input{
    width: 490px;
}
section form>input{
    height: 24px;
}

















